build/
dist/
data/evo_matrices_dims4-1024.dat
*.egg-info/*
test_matrices/*
dist/*
Libraries/*
hamiltonian_exponentiation/*
src/*
qle_plots/*

*.pyc
*.so
*.csv
*.png
*.jpg
*.ipynb
*.txt
*.sh
test*


!hamiltonian_exponentiation/__init__.py
!test_qle.py
!test_matrices/validate_expm_special.py
!test_matrices/evaluate_differences.py
!test_matrices/plot_expm.py
!test_matrices/test_package.py
!src/matrix_utils.cpp
!src/matrix_utils.h
!src/python_interface.cpp
!src/python_interface.h
